# Domain
DOMAIN_NAME=$USER.42.fr

# MariaDB
MYSQL_DATABASE=truc
MYSQL_USER=truc

# WordPress
WORDPRESS_ADMIN_USER=truc
WORDPRESS_ADMIN_EMAIL=truc@42.fr
WORDPRESS_TITLE=Truc
WORDPRESS_USER=truc
WORDPRESS_USER_EMAIL=truc@42.fr