# Domain
DOMAIN_NAME=$USER.42.fr

# MariaDB
MYSQL_DATABASE=wordpress_db
MYSQL_USER=mysqluser

# WordPress
WORDPRESS_ADMIN_USER=42cCool
WORDPRESS_ADMIN_EMAIL=42cCool@$USER.42.fr
WORDPRESS_TITLE=Mon Site Inception
WORDPRESS_USER=author
WORDPRESS_USER_EMAIL=author@$USER.42.fr

# # ============== secrets ==============

# # MariaDB
# MYSQL_ROOT_PASSWORD=""
# MYSQL_PASSWORD=""

# # WordPress
# WORDPRESS_USER_PASSWORD=""
# WORDPRESS_ADMIN_PASSWORD=""

# # WordPress Security Keys
# WORDPRESS_AUTH_KEY=""
# WORDPRESS_SECURE_AUTH_KEY=""
# WORDPRESS_LOGGED_IN_KEY=""
# WORDPRESS_NONCE_KEY=""
# WORDPRESS_AUTH_SALT=""
# WORDPRESS_SECURE_AUTH_SALT=""
# WORDPRESS_LOGGED_IN_SALT=""
# WORDPRESS_NONCE_SALT=""

# # Redis
# REDIS_PASSWORD=""

# # FTP
# FTP_PASSWORD=""